.background-image {
  position: absolute; /* make background cover whole page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* keep aspect ratio */
  z-index: -1; /* put behind other content */
}

.tree-image {
  position: absolute;
  top: 35%; 
  left: 50%; /* put in center of page */
  width: 50%; /* scale it down */
  height: 50%; /* scale it down */
  object-fit: cover; /* keep aspect ratio */
  z-index: -1;
  transform: translateX(-50%); /* center horizontally */
}
