.background-image {
  position: absolute; /* make background cover whole page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* keep aspect ratio */
  z-index: -1; /* put behind other content */
}

.tree-image {
  position: absolute;
  top: -3%;
  left: 50%; /* put in center of page */
  width: 60%; /* scale it down */
  height: 100%; /* scale it down */
  object-fit: cover; /* keep aspect ratio */
  z-index: -1;
  transform: translateX(-50%); /* center horizontally */
}

.wooden-sign {
  position: absolute;
  top: 24%;
  left: 25%;
  width: 30%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.add-branch-container {
  position: absolute;
  top: 10%;
  left: 80%;
}

.branch-hitbox {
  position: fixed;
  width: 200px;
  height: 200px;
  /* background-color: rgba(255, 0, 0, 0.5); */
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: var(--l);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
  cursor: pointer;
  pointer-events: auto; /* allow pointer events */
}

.branch-hitbox.edit-mode {
  pointer-events: none; /* disable pointer events when editing the wooden sign */
}

/* classes for each branch hitbox position */
.branch-hitbox-0 { top: 500px; left: 400px; }
.branch-hitbox-1 { top: 610px; left: 1100px; }
.branch-hitbox-2 { top: 250px; left: 350px; }
.branch-hitbox-3 { top: 400px; left: 1150px; }
.branch-hitbox-4 { top: 40px; left: 400px; }
.branch-hitbox-5 { top: 50px; left: 1100px; }

.branch-hitbox:hover {
  color: #39ff14;
}