.login-background {
  position: absolute; /* make background cover whole page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* keep aspect ratio */
  z-index: -1; /* put behind other content */
}

.login-tree {
  position: fixed; /* Stick to the viewport */
  bottom: -200px; /* Align to the bottom of the screen */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center it properly */
  width: auto; /* Set a smaller width for the tree image */
  height: 150%; /* Maintain aspect ratio */
  z-index: 0; /* Keep it behind other content */
  pointer-events: none; /* Prevent the image from blocking interactions */
}

.login-racoon {
  position: fixed; /* Sticks the image to a fixed position on the screen */
  bottom: 0; /* Aligns the image to the bottom */
  left: 0; /* Aligns the image to the left */
  max-width: 30%; /* Optional: Resize to fit nicely */
  max-height: 30%; /* Optional: Ensures the image doesn’t overflow */
  object-fit: cover; /* Maintains aspect ratio */
  z-index: 0; /* Keeps it behind other content */
}

.login-owl {
  position: fixed; /* Sticks the image to a fixed position on the screen */
  bottom: -20px; /* Aligns the image to the bottom */
  right: 0; /* Aligns the image to the left */
  max-width: 40%; /* Optional: Resize to fit nicely */
  max-height: 40%; /* Optional: Ensures the image doesn’t overflow */
  object-fit: cover; /* Maintains aspect ratio */
  z-index: 0; /* Keeps it behind other content */
}

.information-signL {
  position: absolute;
  top: -17%; /* Adjust the position as needed */
  left: 2%;

  width: 400px; /* Adjust the size */
  z-index: 1; /* Higher z-index to appear on top */
}

.information-signR {
  position: absolute;
  top: -17%; /* Adjust the position as needed */
  left: 50%;

  width: 400px; /* Adjust the size */
  z-index: 0; /* Higher z-index to appear on top */
}

.Login-googleButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 450%);
}

.information-signL h1 {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 85%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  text-shadow: 2px 2px 0 #000, /* Black outline */ -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 2px 0px 0 #000, -2px 0px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000; /* Ensures complete outline */
}

.information-signL h2 {
  position: absolute;
  left: 50%;
  width: 95%;
  transform: translate(-50%, 180%);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  text-shadow: 2px 2px 0 #000, /* Black outline */ -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 2px 0px 0 #000, -2px 0px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000; /* Ensures complete outline */
}

div.Login-googleButton {
  position: fixed !important;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 1000;
}
