.login-background {
    position: absolute; /* make background cover whole page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* keep aspect ratio */
    z-index: -1; /* put behind other content */
}

.Login-googleButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}