html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.twig-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* right side twig */
.twig-type-1 .twig-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.twig-type-1 .wooden-sign-container {
  position: absolute;
  left: 10px;
  top: 10%;
  z-index: 1000;
  width: 300px;
  transform: none;
  transition: all 0.3s ease;
}

/* left side twig */
.twig-type-2 .twig-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.twig-type-2 .wooden-sign-container {
  position: absolute !important;
  right: 10px !important;
  left: auto !important;
  top: 0% !important;
  width: 300px;
  z-index: 2;
  transition: all 0.3s ease;
}

/* center for small screens */
@media screen and (max-width: 1300px) {
  .twig-type-1 .wooden-sign-container,
  .twig-type-2 .wooden-sign-container {
    width: 300px;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    top: -20px !important;
  }
}

@media screen and (max-width: 768px) {
  .twig-type-1 .wooden-sign-container,
  .twig-type-2 .wooden-sign-container {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .twig-type-1 .wooden-sign-container,
  .twig-type-2 .wooden-sign-container {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .twig-type-1 .wooden-sign-container,
  .twig-type-2 .wooden-sign-container {
    width: 300px;
  }
}

/* Handle landscape orientation */
@media screen and (max-height: 500px) and (orientation: landscape) {
  .twig-type-1 .wooden-sign-container,
  .twig-type-2 .wooden-sign-container {
    width: 300px;
    max-height: 80vh;
  }

  .wooden-sign-content {
    max-height: 70vh;
    overflow-y: auto;
  }
}

.back-to-branch {
  position: absolute;
  right: 130px;
  bottom: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
}

.back-chevron {
  width: var(--xxl);
  transform: rotate(270deg);
  margin-right: 8px;
}

.back-text {
  color: rgb(255, 255, 255);
  font-size: var(--xl);
  text-shadow: 2px 2px 0 #000, /* Black outline */ -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 2px 0px 0 #000, -2px 0px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000; /* Ensures complete outline */
}

.back-to-branch:hover .back-text {
  color: #39ff14;
}

.twig-type-2 .back-to-branch {
  left: 130px;
  right: auto;
}

.twig-type-2 .back-chevron {
  transform: rotate(90deg);
}

/* Adjust back-to-branch position for smaller screens */
@media screen and (max-width: 1300px) {
  .back-to-branch {
    bottom: 40px;
  }

  .twig-type-2 .back-to-branch {
    left: 130px;
    bottom: 40px;
  }
}

/* leaf hitbox styles */
.leaf-hitbox {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: var(--m);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
}

.leaf-hitbox.edit-mode {
  pointer-events: none;
}

.leaf-hitbox:hover {
  color: #39ff14;
}

/* Base positions for leaf hitboxes */
.leaf-hitbox-0 {
  top: 85%;
  right: 36%;
  font-size: var(--xl);
}

@media screen and (max-width: 2000px) {
  .leaf-hitbox-0 {
    right: 36%;
  }
}

@media screen and (max-width: 1800px) {
  .leaf-hitbox-0 {
    right: 34%;
  }
}

@media screen and (max-width: 1600px) {
  .leaf-hitbox-0 {
    right: 32%;
  }
}

@media screen and (max-width: 1400px) {
  .leaf-hitbox-0 {
    right: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .leaf-hitbox-0 {
    right: 28%;
  }
}

@media screen and (max-width: 1000px) {
  .leaf-hitbox-0 {
    right: 14%;
  }
}

@media screen and (max-width: 800px) {
  .leaf-hitbox-0 {
    right: 10%;
  }
}

.leaf-hitbox-1 {
  top: 85%;
  right: 56%;
  font-size: var(--xl);
}

@media screen and (max-width: 2000px) {
  .leaf-hitbox-1 {
    right: 58%;
  }
}

@media screen and (max-width: 1800px) {
  .leaf-hitbox-1 {
    right: 56%;
  }
}

@media screen and (max-width: 1600px) {
  .leaf-hitbox-1 {
    right: 58%;
  }
}

@media screen and (max-width: 1400px) {
  .leaf-hitbox-1 {
    right: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .leaf-hitbox-1 {
    right: 62%;
  }
}

@media screen and (max-width: 1000px) {
  .leaf-hitbox-1 {
    right: 64%;
  }
}

@media screen and (max-width: 800px) {
  .leaf-hitbox-1 {
    right: 68%;
  }
}

.leaf-hitbox-2 {
  top: 60%;
  right: 34%;
  font-size: var(--xl);
}

.leaf-hitbox-3 {
  top: 60%;
  right: 56%;
  font-size: var(--xl);
}

.leaf-hitbox-4 {
  top: 32%;
  right: 34%;
  font-size: var(--xl);
}

.leaf-hitbox-5 {
  top: 32%;
  right: 56%;
  font-size: var(--xl);
}

@media screen and (max-width: 2000px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 36%;
  }
}

@media screen and (max-width: 1800px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 34%;
  }
}

@media screen and (max-width: 1600px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 32%;
  }
}

@media screen and (max-width: 1400px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 28%;
  }
}

@media screen and (max-width: 1000px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 14%;
  }
}

@media screen and (max-width: 800px) {
  .leaf-hitbox-2,
  .leaf-hitbox-4 {
    right: 10%;
  }
}

/* Copy hitbox-1 media queries for hitbox-3 and hitbox-5 */
@media screen and (max-width: 2000px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 58%;
  }
}

@media screen and (max-width: 1800px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 56%;
  }
}

@media screen and (max-width: 1600px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 58%;
  }
}

@media screen and (max-width: 1400px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 62%;
  }
}

@media screen and (max-width: 1000px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 64%;
  }
}

@media screen and (max-width: 800px) {
  .leaf-hitbox-3,
  .leaf-hitbox-5 {
    right: 68%;
  }
}

.tutorial-next {
  margin-top: 10px; /* Space between the animal and button */
  background-color: #4caf50;
  left: 60%;
  top: 55%;
  width: 100px;
  height: 50px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1002;
  pointer-events: auto; /* Ensure the button is clickable */
}

.tutorial-next:hover {
  background-color: #45a049;
}

.tutorial-message {
  position: relative; /* Position relative to the .tutorial-animal container */
  bottom: 10px; /* Adjust the position above the animal */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 20px; /* Control bubble size */
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  z-index: 1000;
  top: -360px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  pointer-events: auto; /* Allow interactions with the text bubble if needed */
}
