.custom-button {
  background-color: rgba(0, 0, 0, 0.5); /* slightly transparent black */
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-button:disabled {
  background-color: rgba(139, 115, 85, 0.5);
  cursor: not-allowed;
  color: #a9a9a9 !important; /* override text colors when disabled */
}

.text-green {
  color: #00ff00;
  font-family: "Pixelify Sans", sans-serif;
  font-size: var(--l);
}

.text-red {
  color: #ff0000;
  font-family: "Pixelify Sans", sans-serif;
  font-size: var(--l);
}

.text-white {
  color: #ffffff;
  font-family: "Pixelify Sans", sans-serif;
  font-size: var(--l);
}

.custom-button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.8); /* more opaque black */
}

@media screen and (max-width: 800px) {
  .text-green,
  .text-red,
  .text-white {
    font-size: var(--l);
  }
}
