.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: height 0.3s ease-in-out, background 0.3s ease-in-out; /* Smooth height and background transitions */
  z-index: 1290; /* Place it above other elements */
  overflow: hidden; /* Prevent menu content from showing when collapsed */
}

/* Navbar expanded on hover */
.navbar:hover {
  height: 85vh; /* Expand to full height */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75));
}

/* Disable hover when tutorial has started */
.navbar-no-hover:hover {
  height: 60px; /* Keep collapsed height */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

/* Menu styles */
.menu {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: var(--xxxl);
  z-index: 1100;
  height: calc(85vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.menu-links-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0px 0;
  padding: 10px;
  font-size: var(--xxl);
}

.closed-title {
  color: rgb(112, 112, 112);
  position: absolute;
  text-decoration: none;
  margin: 0px 0;
  padding: 10px;
  left: 35%;
  font-size: var(--xxl);
}

.navbar:hover .closed-title {
  opacity: 0;
}

.menu a:hover {
  color: #39ff14; /* Highlight links on hover */
}

.menu a.active {
  color: #39ff14;
}

/* Chevron icon */
.chevron {
  height: 24px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 18px; /* Center vertically in the 60px navbar */
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
}

/* Chevron hidden when navbar expands */
.navbar:hover .chevron {
  opacity: 0;
}
/* Bottom chevron */
.bottom-chevron {
  position: absolute;
  bottom: 85px; /* Moved up from 20px */
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  height: var(--l);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show bottom chevron when navbar is expanded */
.navbar:hover .bottom-chevron {
  opacity: 1;
}

.menu h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
